/* Created by: Niko
* Created on: march 2020
* This file contains the CSS for index.html
*/

html {
   background-color: #e3dcb5;
}

body {
  font-size: 10pt;
  font-family: Times New Roman, Times, serif, Geneva, Arial, Helvetica, sans-serif;
  color: black;
  line-height: 14pt;
  padding-left: 5pt;
  padding-right: 5pt;
  padding-top: 5pt;
  text-align: center;
}

h1 {
  font: 30pt Times New Roman;
  font-weight: bold;
  line-height: 20pt;
  color: #eac439;
  padding: 20px;
  margin-left: 600px;
  margin-right: 600px;
  background-color: hsl(0, 4%, 20%);
}

#h3other {
  background-color: #9d825c;
  border-radius: 7px;
  margin-left: 620px;
  margin-right: 620px;
  text-align: center;
  padding: 0.5px;
  font: 16pt; 
  font-family: Times New Roman, Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-weight: bold;
  line-height: 10pt;
  color: #000000;
}

label {
  font-size: 13pt;
  font-family: Times New Roman, Times, serif;
}

.text-box {
  border-width: 5px;
  border-radius: 7px;
  border-color: lightgray;
  width: 80px;
  font-family: Times New Roman, Times, serif;
  font-size: 12pt;
  margin: 0.05in;
}

.button {
  width: = 340px;
  height: 40px;
  margin: 0.1in;
  border-radius: 7px;
  font-family: Times New Roman, Times, serif;
  font-size: 13pt;
}

.box {
  background-color: #9d825c;
  padding: 9.5px;
  border-radius: 7px;
  margin-left: 620px;
  margin-right: 620px;
  text-align: center;
}

iframe {
  background-color: #e2eacc;
  padding: 9px;
  border-radius: 7px;
  margin-left: 620px;
  margin-right: 620px;
  width: 630px;
  height: 50px;
}

p {
   color: rgb(94,12,105);
  text-align: center;
  font-family: Times New Roman, Times, serif;
  font-size: 14pt;
  font-weight: 1000;
}

#testscores {
  border-width: 5px;
  border-radius: 7px;
  border-color: lightgray;
  width: 600px;
  font-family: Times New Roman, Times, serif;
  font-size: 12pt;
}